.header
{
    height: 214px;
    background-color: rgb(246, 250, 250);
    margin-left: 0px;
}
body{
    margin: 0;
    font-family: 'Gentona';
}
.black
{
    height: 10px;
    background-color: black;
    padding-top: 30px;
    padding-left: 50%;
    padding-bottom: 40px
    
}
.text
{       width: 95%;
    height: 0px;
    margin-top: -40px;
    margin-left: 30px;

}
.note
{
    color: rgba(152, 149, 149, 0.943);
    font-size:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  word-spacing: 10px;


}
.not{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pic
{       margin-bottom: 18px;
    height: 100px;
    width: 143px;
    margin-left: -1237px;
    margin-top: 1px;
    margin-top: -11px;
}
.text2
{
   
    color: black;
    font-size: 43px;
    word-spacing: 2px;
}
.tac
{
    color: black;
    float: left;
    margin-left: -76px;
    margin-top: -6px;
   font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button
{    color: black;
    float: left;
    width: 202px;
    height: 72px;
    border: none;
    font-size: 28px;
    margin-bottom: -3px;
    background-color: rgba(212, 252, 10, 0.936);
    padding-right: 2px;
    margin-left: 72px;
    margin-top: -26px;
}
button:hover{
    color: aliceblue;
    background-color: rgb(71, 69, 71);
}

.city
{
    color: #ffff;
    font-size: 69px;
    position: absolute;
    top: 25%;
    left: 23%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.choose
{
    font-size: 40px;
    position: absolute;
    top: 34%;
    left: 37%;
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sub{
    width: 790px;
    height: 600px;
    position: absolute;
    background-color: #ffff;
    left: 3%;
    top: 40%;
    padding-left: 18px;
   /* padding-top: 5px;*/
}
.title
{
    width: 735px;
    height: 57px;
    background-color: #ffff;
    padding-top: 50px;


}
.POP
{
    background-color: yellow;
    border-radius: 50px;
    color: black;
    width: 140px;
    height: 55px;
    font-size: medium;
    font-weight:bold;
    font-size: 25px;
   
}
.PEP
{
  
    background-color: #ffff;
    color: black;
    width: 185px;
    height: 55px;
    font-size: medium;
    font-weight: bold;
    font-size: 25px;


}
.you{
    color: #000;
    font-size: 26px;
    font-weight:bold;
    padding-left: 23%;
    word-spacing: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-top: 15px;
}
.ac
{
    color: #000;
    font-size: 26px;
    padding-left: 23%;
    word-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-top: 17px;

}
.gray{
    background-color: rgba(81, 78, 78, 0.18);
   height:  80px;
     position: absolute;
     width: 780px;
     float: left;
     margin-top: 10px;
     

}
.pick
{
    color: rgba(89, 84, 84, 0.888);
    padding-top: 27px;
    float: left;
    padding-left: 10px;
}
.c{
color: #000;
float: left;
padding-left: 80px;
padding-top: 27px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 24px;
}
.bru{
    background-color: rgba(81, 78, 78, 0.18);
   height:  80px;
     position: absolute;
     width: 780px;
     float: left;
     margin-top:100px;
     

}
.drop
{
    color: rgba(89, 84, 84, 0.888);
    padding-top: 35px;
    float: left;
    padding-left: 19px;
}
.e{
    color: rgba(89, 84, 84, 0.888);
float: left;
padding-left: 80px;
padding-top: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 24px;
}
.now{
    background-color: rgba(81, 78, 78, 0.18);
   height:  80px;
     position: absolute;
     width: 780px;
     float: left;
     margin-top: 190px;
     

}
.when
{
    color: rgba(89, 84, 84, 0.888);
    padding-top: 40px;
    float: left;
    padding-left: 20px;
}
.n{
color: #000;
float: left;
padding-left: 80px;
padding-top: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 24px;
}
.search
{
    background-color: rgba(198, 228, 0, 0.925);
    height:  80px;
      position: absolute;
      width: 780px;
      float: left;
      margin-top: 283px;
      color: #000;
      margin-left: 0%;
    
      
}
.search:hover{
    color: white;
    background-color: rgb(52, 117, 117);
}
.fstfoot
{    background-color:#ffff;
    width: 2113px;
    height: 180px;
    margin-top: 780px;
    padding-left: 149px;
    margin-left: 129px;
    padding-right: 10px;
    padding-top: 15px;
    
  
}

.white
{
    background-color: #ffff;
    width: 2531px;
    height: 440px;
    margin-top: 780px;
    margin-left: -107px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.258);
  border: .3px;
  

}
.a
{width: 600px;
    height: 160px;
    background-color: rgba(202, 197, 197, 0.564);
    padding-top: 2px;
    float: left;
    margin-right: 70px;
    padding-left: 10px;
    border: 10px;

}
.b{
    width: 600px;
    height: 160px;
    background-color: rgba(202, 197, 197, 0.564);
    padding-top: 2px;
    float: left;
    margin-right: 70px;
}
.d{
    width: 600px;
    height: 160px;
    background-color:rgba(202, 197, 197, 0.564);
    padding-top: 2px;
    float: left;
    margin-right: 50px;
}
.blu
{color: rgb(38, 66, 247);
    padding-left: 35px;
    padding-top: 36px;
    font: size 30px;
    margin-left: 98px;
    font-weight:800;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.sh{color: #000;
    font-size: 26px;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 131px;
    padding-right: -5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.middle
{    background-color: rgba(229, 221, 221, 0.954);
    padding-left: 1560px;
    padding-top: 80px;



}
.auto
{
    margin-left: -1240px;
    margin-top: 16px;
}
.get
{width: 650px;
    height: 480px;
    border: .3px;
    border-style:ridge;
    border-color: rgba(0, 0, 0, 0.336);
    background-color: rgba(229, 221, 221, 0.954);
    float: left;
    margin-top: -601px;
    padding-top: 16px;
  
}
.q
{
    color: #000;
    width: 194px;
    height: 80px;
    font-size: 54px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 10px;
    background-color: rgba(229, 221, 221, 0.954);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.w{
    color: #000;
    background-color: rgba(229, 221, 221, 0.954);
    width: 430px;
    height: 40px;
    font-size: 28px;
    margin-left: 32px;
    margin-top: 49px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.r{background-color: rgba(229, 221, 221, 0.954);
    width: 575px;
    height: 221px;
    font-size: 32px;
    margin-left: 33px;
    margin-top: 66px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.phone
{
    width: 2515px;
    height: 800px;
    background-color: rgb(250, 248, 248);
    margin-top: 625px;
}
.photo
{
    margin-left: 1410px;
    padding-top: 43px;
}
.book
{
    font-size: 60px;
    width: 802px;
    margin-left: 93px;
    height: 82px;
    background-color:rgb(250, 248, 248);
    color: #000;
    margin-top: -580px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.set
{width: 950px;
    height: 68px;
    margin-left: 100px;
    background-color:rgb(250, 248, 248);
    color: #687272;
    font-size: 32px;
    margin-top: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.play
{
    width: 100px;
    height: 40px;
    float: left;
    padding-right: 250px;
}
.apple
{
    float: left;
    padding-left: 10px;
}
.wind
{    float: left;
  padding-left: 55px;
}
.box
{width: 1100px;
    height: 100px;
    background-color: rgb(250, 248, 248);
    margin-top: 175px;
    padding-right: 10px;
    margin-left: 65px;
}
.footer
{
    width: 2517px;
    height: 518px;
    background-color: #393939;
    padding-top: 95px;
}
.lap
{    width: 344px;
    height: 79px;
    background-color: #393939;
    color: #ffff;
    font-size: 28px;
    padding-left: 60px;
    margin-left: 207px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.line
{
    font-size: 19px;
    width: 2400px;
    height: 15px;
    color: rgb(216, 12, 12);
}
.feet
{
    width: 480px;
    height: 68px;
    margin-left: 268px;
    background-color:#393939;
    color: #ffff;
    font-size: 28px;
    font-weight: 700;
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, san;
}
.ft{
    width: 2160px;
    margin-left: 270px;
    font-size: 28px;
    padding-top: 69px;
    word-spacing: 8px;
    height: 292px;
    background-color:#393939;
    color: rgb(153, 144, 144);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.in{
    color: #ffff;
    font-size: 28px;
    font-weight: 700;
    margin-top: 61px;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sos
{
    width: 770px;
    height: 100px;
    background: color #393939;
    margin-left: 300px;
    margin-top: 40px;
    
}
.fa
{
    color: #000;
    margin-left: 300px;
    margin-top: -87px;
}
.gra{
    float: left;
    margin-top: -79px;
    margin-left: 512px;
}
.tube{
    float: left;
    margin-top: -74px;
    margin-left: 685px;
}
.twi
{
    float: left;
    margin-top: -74px;
    margin-left: 862px;
}
.bha
{
    width: 265px;
    height: 50px;
    background: color #393939;;
    border-style: solid;
   border-color: rgb(167, 153, 153);
    border: -13px;
    float: left;
    margin-top: -74px;
    margin-left:1850px;
    position: absolute;
    padding-left: 10px;
    padding-top: 25px;
    float: left;
    
}
.ya{
    color: #ffff;
    margin-left: 70px;
    margin-top: -45px;
}
.ti{
    color: #e6e0e0;
    text-decoration: none;
}
.ti:hover{
    text-decoration: underline;
}